<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="../static/img/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- font-awesome -->
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    
    <!-- AOS -->
    <link rel="stylesheet" href="../static/css/aos.css">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(../static/img/frontpage.jpg)">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="../static/img/logo.png" alt="logo">
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <a href="/" class="text-white lead">Home</a>
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	Dashboard<br>
            </h1>
            <!-- <div id="map"></div> -->
            
            <!-- <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                Enegery consumption by source, by state and by year. 
                <br> What is the trend? 
            </p> -->
            <!-- <a href="#" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a> -->
        </div>
    </div>
    <!-- three-blcok -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5"></h2>
        <div>
            <h5>Select the year:</h5>

            <select id="selDataset_yr" onchange="optionChanged_yr(this.value)"></select>
            <br><br>
            <h5>Select the state:</h5>
            <select id="selDataset_enegeryType" onchange="optionChanged_nrg(this.value)"></select>
            <br></div>

        
        <div class="row">
            <!-- Map -->  
            <div class="col-sm-1"> 
              <div class="chart-wrapper">
                <div class="chart-title">
                  <br>
                </div>
                <div class="chart-stage">
                  <div id="map"style="width: 1000px; height: 800px" ></div>
                </div>
              </div>
            </div>



    </div>



    
    <!-- AOS -->
    <script src="../static/js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.6/chroma.min.js"></script>


    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/us-states.js"></script>
    <script type="text/javascript" src="../static/js/logic.js"></script>
    <!-- <script type="text/javascript" src="../static/js/chroma.js"></script> -->

</body>

</html>
