<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Energy Consumption Analysis</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="../static/img/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- AOS -->
    <link rel="stylesheet" href="../static/css/aos.css">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(../static/img/frontpage.jpg);">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="../static/img/logo.png" alt="logo">
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <!-- <a href="/machinelearning" class="text-white lead">Machine Learning</a> -->
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                class="display-3 text-white font-weight-bold my-5">
                U.S. Energy Consumption Analysis<br>
                
            </h1>


            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                Data Source: Energy Information Administration - EIA - Official Energy Statistics from the U.S. Government
                <br>
            </p>
            
         
        </div>
    </div>
    <div class="container my-6 py-3">
            <!-- <a href="/machinelearning" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Machine Learning</a> -->
            <a href="/machinelearning" data-aos="fade" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Machine Learning</a>
            <a href="#" data-aos="fade" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Data Visualization</a>
            <a href="https://github.com/pikako77/project3" data-aos="fade" class="btn my-4 font-weight-bold atlas-cta cta-ghost">GitHub</a>
            <a href="#" data-aos="fade" class="btn my-4 font-weight-bold atlas-cta cta-ghost">LinkedIn</a>
            <a href="#" data-aos="fade" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Resources</a>
            <a href="#" data-aos="fade" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Credits</a>
        </div>
            
            <!-- three-blcok -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">Energy Source</h2>

        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <img src="../static/img/coal-1.jpg" alt="Anti-spam" class="mx-auto">
                <h4><a href="/coal">Coal</a></h4>
                <p></p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <img src="../static/img/gas-2.jpg" alt="Phishing Detect" class="mx-auto">
                <h4><a href="/naturalgas">Natural Gas</a></h4>
                <p></p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <img src="../static/img/petro-3.jpg" alt="Smart Scan" class="mx-auto">
                <h4><a href="/petroleum">Petroleum</a></h4>
                <p></p>
            </div>

            <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <img src="../static/img/nuclear-4.jpg" alt="Smart Scan" class="mx-auto">
                <h4><a href="/nuclear">Nuclear</a></h4>
                <p></p>
            </div>

            <div data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <img src="../static/img/renewable-5.jpg" alt="Smart Scan" class="mx-auto">
                <h4><a href="/renewable">Renewable Energy</a></h4>
                <p></p>
            </div>

            <div data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <img src="../static/img/dashboard.jpg" alt="Smart Scan" class="mx-auto">
                <h4><a href="/dashboard">Dashboard</a></h4>
                <p></p>
                
                
                <div id="data"></div>
                
            </div>

        </div>
    </div>

    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3">Jeopardy</h2>
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">PAST</h4>
                <!-- <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p> -->
                <p class="font-weight-bold"> <span class="display-2 font-weight-bold">?</span></p>
                <ul class="list-unstyled">
                    <h4>1960-2000</h4>
                    <h6>Hint:</h6>
                    <li>Coal</li>
                    <li>Petroleum</li>
                    <li>Natural Gas</li>

                </ul>
                <a href="/history" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Guess</a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
                <h4 class="my-4">NOW</h4>
                <!-- <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p> -->
                <p class="font-weight-bold"> <span class="display-2 font-weight-bold">?</span></p>
                <ul class="list-unstyled">
                    <h4>2000-2020</h4>
                    <h6>Hint:</h6>
                    <li>California</li>
                    <li>New York</li>
                    <li>Texas</li>
                </ul>

                <a href="/now" class="btn my-4 font-weight-bold atlas-cta cta-white">Guess</a>
               
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">FUTURE</h4>
                <!-- <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p> -->
                <p class="font-weight-bold"> <span class="display-2 font-weight-bold">?</span></p>
                <ul class="list-unstyled">
                    <h4>2020-2040</h4>
                    <h6>Hint:</h6>
                    <li>Renewable</li>
                    <li>Petroleum</li>
                    <li>Coal</li>


                </ul>
                <a href="/future" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Guess</a>
            </div>
        </div>
    </div>


    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(../static/img/contact-bk.jpg);">
        <div class="container my-2">
            <div class="row justify-content-between">
                <img src="../static/img/logo1.png" alt="logo">

                <div class="col-md-9 text-white">
                    <h2 class="font-weight-bold">Contact Us</h2>

                    <p class="my-2">
                        <h5>Our professional team can help you analyze and visualize any data requirements</h5>
                    </p>
                    <ul class="list-unstyled">
                        <li>Mitsuko Kitazawa</li>
                        <li>Mfon Udo-Imeh</li>
                        <li>Jessie Kuo</li>
                        <li></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>



    <!-- AOS -->
    <script src="../static/js/aos.js"></script>
    <script>
        AOS.init({
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

</body>

</html>
