<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resources</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="../static/img/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- font-awesome -->
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- AOS -->
    <link rel="stylesheet" href="../static/css/aos.css">
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(../static/img/frontpage.jpg)">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="../static/img/logo.png" alt="logo">
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <a href="/" class="text-white lead">Home</a>
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
                References 
                <br>     
            </h1>                                                                                                                             
        </div>
    </div>
   
    <div class="container my-5 py-2">
        <!-- <h3 class="text-left font-weight-bold my-5">Data Source:</h3> -->
        <li><a href="https://www.eia.gov/totalenergy/data/browser/?tbl=T09.08">Average Retail Prices of Electricity</a></li>
        <li><a href="https://www.eia.gov/electricity/monthly/epm_table_grapher.php?t=epmt_5_3">Average Price of Electricity to Ultimate Customers</a></li>
        <li><a href="https://www.eia.gov/energyexplained/electricity/electricity-in-the-us.php">US Electricity generation by major energy source</a></li>  
        <li><a href="https://www.ncdc.noaa.gov/cag/national/time-series/110/tavg/all/1/1990-2019">Client at a Glance - National Time Series(Average Temperature)</a></li>  
        <li><a href="https://www.eia.gov/electricity/monthly/epm_table_grapher.php?t=epmt_5_6_a">Average Price of Electricity to Ultimate Customers by End-Use Sector</a></li>  
        <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0025326X16303964">The tarballs on Texas beaches following the 2014 Texas City “Y” Spill: Modeling, chemical, and microbiological studies</a></li>  
        <li><a href="http://cs109-energy.github.io/building-energy-consumption-prediction.html">Building Energy Consumption Prediction</a></li>  
        <li><a href="https://machinelearningmastery.com/how-to-develop-lstm-models-for-multi-step-time-series-forecasting-of-household-power-consumption/">How to Develop Multi-Step LSTM Time Series Forecasting Models for Power Usage</a></li>  
        <li><a href="https://iopscience.iop.org/article/10.1088/1742-6596/1072/1/012005/meta">Predicting residential electricity consumption using neural networks: A case study</a></li>  
        <li><a href="https://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/">Time Series Prediction with LSTM Recurrent Neural Networks in Python with Keras</a></li>  
        <li><a href="https://machinelearningmastery.com/deep-learning-for-time-series-forecasting/">Deep Learning for Time Series Forecasting</a></li>
        <li><a href="https://www.eia.gov/state/rankings/">Rankings: Total Energy Consumed per Capita, 2017</a></li>
                 
        
           
        
    </div>
       
      
    <!-- AOS -->
    <script src="../static/js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>